<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{{ asset('bundles/wablog/css/style.css') }}"/>
</head>
<body>

<h1>Article</h1>
<p>éditer mon article {{ article }}</p>



</body>

</html>
